/* skillLogo component css */
.filter-img{
  filter: grayscale(100%);
}
.filter-img:hover{
  filter: grayscale(0%);
}
.owl-next{
  font-size: 100px !important;
  color: #112B3C !important;
}
.owl-prev{
  font-size: 100px !important;
  color: #112B3C !important;
}
.owl-nav{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.owl-item{
  position: relative;
}
.active{
  color: red;
}
@media (min-width: 320px) and (max-width: 480px) {
  .filter-img{
    filter: grayscale(0%);
  }
  .ReactModal__Content{
    width: 350px;
  }
  .owl-next{
    font-size: 60px !important;
    color: white !important;
  }
  .owl-prev{
    font-size: 60px !important;
    color: white !important;
  }
  .owl-nav{
    transform: translateY(-65%);
  }
}
.ReactModal__Overlay{
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7) !important;
}