/* skillLogo component css */
.filter-img{
  filter: grayscale(100%);
}
.filter-img:hover{
  filter: grayscale(0%);
}
@media (min-width: 320px) and (max-width: 480px) {
  .filter-img{
    filter: grayscale(0%);
  }
}